<footer class="footer mt-6">
    <div class="columns is-2">
        <div class="column is-offset-1-desktop">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="https://cdn.iconicto.com/ChariLake/img/logo.png"/>
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <h1 class="subtitle is-size-7 letter-space has-text-white has-text-weight-bold is-uppercase m-0 p-0">
                            Address
                        </h1>
                        <p class="mt-2 has-text-link">
                            Charilake Boutique Hotel,<br/>
                            Harumalgoda, Habaraduwa, Galle, Sri Lanka.
                        </p>
                    </div>
                </div>
            </article>
        </div>
        <div class="column">
            <h1 class="subtitle is-size-7 letter-space has-text-white has-text-weight-bold is-uppercase">
                Drop us a line
            </h1>
            <a href="mailto:info@charilakehotel.lk">
                <p class="title is-3 has-text-weight-semibold has-text-link">
                    info@charilakehotel.lk
                </p>
            </a>
        </div>
    </div>

    <div class="columns is-2 mt-1">
        <div class="column is-offset-1-desktop">
            <h1 class="subtitle is-size-7 letter-space has-text-white has-text-weight-bold is-uppercase m-0 p-0">
                Information
            </h1>
            <div class="columns mt-1">
                <div class="column">
                    <a class="has-text-link has-text-weight-medium footer-link" href="{% url 'about' %}">About</a><br/>
                    <a class="has-text-link has-text-weight-medium footer-link"
                       href="{% url 'activities' %}">Activities</a><br/>
                    <a class="has-text-link has-text-weight-medium footer-link" href="{% url 'attractions' %}">Attractions</a><br/>
                </div>
                <div class="column">
                    <a class="has-text-link has-text-weight-medium footer-link"
                       href="{% url 'contact_us' %}">Contact</a><br/>
                    <a class="has-text-link has-text-weight-medium footer-link"
                       href="{% url 'excursions' %}">Excursions</a><br/>
                    <a class="has-text-link has-text-weight-medium footer-link"
                       href="{% url 'gallery' %}">Gallery</a><br/>
                </div>
                <div class="column">
                    <a class="has-text-link has-text-weight-medium footer-link" href="{% url 'reservation' %}">Reservation</a>
                </div>
            </div>
        </div>
        <div class="column mt-1">
            <h1 class="subtitle is-size-7 letter-space has-text-white has-text-weight-bold is-uppercase">
                Follow us
            </h1>
            <div class="columns is-3 is-mobile">
                <div class="column is-narrow">
                    <p class="title has-text-cyan has-text-weight-medium">
                        <span class="icon">
                          <a href="https://www.instagram.com/charilake/"><i class="fab fa-instagram has-text-link"></i></a>
                        </span>
                    </p>
                </div>
                <div class="column is-narrow">
                    <p class="title has-text-cyan has-text-weight-medium">
                        <span class="icon">
                          <a href="https://www.facebook.com/ChariLakeLK/"><i
                                  class="fab fa-facebook-f has-text-link"></i></a>
                        </span>
                    </p>
                </div>
                <div class="column is-narrow">
                    <p class="title has-text-cyan has-text-weight-medium">
                        <span class="icon">
                          <a href="https://twitter.com/ChariLake/"><i class="fab fa-twitter has-text-link"></i></a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>