{% load static %}

<div class="modal" id="modal">
    <div class="modal-background" onclick="closeImage()"></div>
    <div class="modal-content is-clipped" style="width: 60%">
        <figure class="image is-full-desktop">
            <img id="modal-image" alt="model image" src="">
        </figure>
    </div>
    <button
            class="modal-close is-large"
            aria-label="close"
            onclick="closeImage()"
    ></button>
</div>
{% block js %}
    <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
{% endblock %}