{% load static %}

<div class="modal" id="modal">
    <div class="modal-background" onclick="closeImage()"></div>
    <div class="modal-content is-clipped" style="width: 60%">
        <figure class="image is-full-desktop">
            <img id="modal-image" alt="model image" src="">
        </figure>
    </div>
    <a class="gallery-control prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="gallery-control next" onclick="plusSlides(1)">&#10095;</a>
    <button
            class="modal-close is-large"
            aria-label="close"
            onclick="closeImage()"
    ></button>
</div>
{% block js %}
    <script>
    const images = Array.from(document.querySelectorAll('section img')).map(function (img) {
        return img.src
    })
    </script>
    <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
{% endblock %}