{% load static %}
    <nav class="navigation-bar {{ homepage|yesno:"transparent,solid alternate-nav" }}" id="navbar">
        <span class="nav-toggle" id="js-nav-toggle">
            <i class="fas fa-bars"></i>
        </span>
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'img/logo-blue.png' %}" alt="Chari Lake Logo" class="logo-image" id="logo"/>
            </a>
        </div>
        <ul id="js-menu">
            <li>
                <a class="navbar-links-solid" href="{% url 'home' %}">
                    <div class="link-holder">
                        <i class="fas fa-home link-icons"></i> Home
                    </div>
                </a>
            </li>
            <li><a class="navbar-links-solid" href="{% url 'about' %}">
                <div class="link-holder">
                    <i class="fas fa-inbox link-icons"></i> About
                </div>
            </a>
            </li>
            <li>
                <a class="navbar-links-solid" href="{% url 'activities' %}">
                <div class="link-holder">
                    <i class="fas fa-hiking link-icons"></i> Activities
                </div>
            </a>
            </li>
            <li>
                <a class="navbar-links-solid" href="{% url 'gallery' %}">
                <div class="link-holder">
                    <i class="fas fa-camera-retro link-icons"></i> Gallery
                </div>
            </a>
            </li>
            <li>
                <a class="navbar-links-solid" href="{% url 'reservation' %}">
                <div class="link-holder">
                    <i class="fas fa-calendar-alt link-icons"></i> Reservation
                </div>
            </a>
            </li>
            <li>
                <a class="navbar-links-solid" href="{% url 'contact_us' %}">
                <div class="link-holder">
                    <i class="fas fa-envelope link-icons"></i> Contact
                </div>
            </a>
            </li>
        </ul
        >
    </nav>