{% extends 'frontend/base.html' %}

{% load static %}
{% block title %}Family Deluxe | {% endblock %}
{% block content %}

<section class="section nav-margin">
    <div class="container">
        <div class="columns is-vcentered is-variable">
            <div class="column pr-5">
                <h1 class="title is-size-4-mobile mb-3">
                    Family Deluxe
                </h1>
                <p class="has-text-justified is-size-7-mobile mb-4">
                    Large luxury room with an attic. Easily accommodating a family of four with balconies facing the water body.
                </p>
            </div>
            <div class="column">
                <figure class="image is-3by2">
                    <img class="rounded-corners is-cover is-clickable" src="{% static 'img/rooms/family-deluxe/family-deluxe.jpg' %}" alt="Family Deluxe Room" onclick="showImage(this.src)"/>
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-vcentered is-mobile mb-2 mt-3">
            <div class="column">
                <h1 class="title is-size-4-mobile">
                    Gallery
                </h1>
            </div>
        </div>
        <div class="columns is-4 is-multiline is-justify-content-center">
            <div class="column is-one-quarter">
                <figure class="image is-3by2 image-room">
                    <img class="rounded-corners is-cover is-clickable" src="{% static 'img/rooms/family-deluxe/attic.jpg' %}" alt="attic" onclick="showImage(this.src)"/>
                </figure>
            </div>
            <div class="column is-one-quarter">
                <figure class="image is-3by2 image-room">
                    <img class="rounded-corners is-cover is-clickable" src="{% static 'img/rooms/family-deluxe/staircase.jpg' %}" alt="staircase" onclick="showImage(this.src)"/>
                </figure>
            </div>
            <div class="column is-one-quarter">
                <figure class="image is-3by2 image-room">
                    <img class="rounded-corners is-cover is-clickable" src="{% static 'img/rooms/wash-room-1.jpg' %}" alt="wash room" onclick="showImage(this.src)"/>
                </figure>
            </div>
            <div class="column is-one-quarter">
                <figure class="image is-3by2 image-room">
                    <img class="rounded-corners is-cover is-clickable" src="{% static 'img/rooms/family-deluxe/kids-beds-2.jpg' %}" alt="toiletries" onclick="showImage(this.src)"/>
                </figure>
            </div>
            <div class="column is-one-quarter">
                <figure class="image is-3by2 image-room">
                    <img class="rounded-corners is-cover is-clickable" src="{% static 'img/rooms/wash-room-2.jpg' %}" alt="wash room" onclick="showImage(this.src)"/>
                </figure>
            </div>
            <div class="column is-one-quarter">
                <figure class="image is-3by2 image-room">
                    <img class="rounded-corners is-cover is-clickable" src="{% static 'img/rooms/family-deluxe/kids-beds.jpg' %}" alt="toiletries" onclick="showImage(this.src)"/>
                </figure>
            </div>
            <div class="column is-one-quarter">
                <figure class="image is-3by2 image-room">
                    <img class="rounded-corners is-cover is-clickable" src="{% static 'img/rooms/wash-room-3.jpg' %}" alt="wash room" onclick="showImage(this.src)"/>
                </figure>
            </div>
        </div>
    </div>
</section>

{% include 'frontend/partial/amenities.html' %}
{% include 'frontend/partial/modal.html' %}
{% endblock %}