{% extends 'frontend/base.html' %}

{% load static %}
{% block title %}Family Deluxe | {% endblock %}
{% block content %}

<section class="section nav-margin">
    <div class="container">
        <div class="columns is-vcentered is-variable">
            <div class="column pr-5">
                <h1 class="title is-size-4-mobile mb-3">
                    Family Deluxe
                </h1>
                <p class="has-text-justified is-size-7-mobile mb-4">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
            </div>
            <div class="column">
                <figure class="image is-3by2">
                    <img class="rounded-corners is-cover" src="{% static 'img/rooms/family-deluxe/family-deluxe.jpg' %}" alt="Family Deluxe Room"/>
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-vcentered is-mobile mb-2 mt-3">
            <div class="column">
                <h1 class="title is-size-4-mobile">
                    Gallery
                </h1>
            </div>
        </div>
        <div class="columns is4">
            <div class="column">
                <figure class="image is-3by2 image-room">
                    <img class="rounded-corners is-cover" src="{% static 'img/rooms/family-deluxe/attic.jpg' %}" alt="tea kit"/>
                </figure>
            </div>
            <div class="column">
                <figure class="image is-3by2 image-room">
                    <img class="rounded-corners is-cover" src="{% static 'img/rooms/family-deluxe/kids-beds.jpg' %}" alt="toiletries"/>
                </figure>
            </div>
            <div class="column">
                <figure class="image is-3by2 image-room">
                    <img class="rounded-corners is-cover" src="{% static 'img/rooms/family-deluxe/wash-room.jpg' %}" alt="wash room"/>
                </figure>
            </div>
            <div class="column">
                <figure class="image is-3by2 image-room">
                    <img class="rounded-corners is-cover" src="{% static 'img/rooms/family-deluxe/staircase.jpg' %}" alt="staircase"/>
                </figure>
            </div>
        </div>
    </div>
</section>

{% include 'frontend/partial/amenities.html' %}

{% endblock %}