{% extends 'frontend/base.html' %}

{% load static %}
{% block title %}About | {% endblock %}
{% block content %}

<section class="section nav-margin">
    <div class="container">
        <h1 class="title is-3 is-size-4-mobile">Our Story</h1>
    </div>
    <div class="columns is-vcentered is-variable mt-1">
        <div class="column pr-5">
            <p class="has-text-justified is-size-7-mobile">
                Set beside the verdant greenery, lush vegetation and the spectacular
                Koggala Lake, Chari Lake offers an experience that is like no other.
                Just a 90 minute drive from Colombo it can also be accessed in 15
                minutes by a domestic flight to Koggala. This contemporary boutique
                hotel consists of 10 exquisitely designed rooms and 2 suites.
                Elegantly designed with timber and polished cement structures this
                eco-destination offers an experience that will give you a sense of
                satisfaction and sanctity. The boutique is opulent in design and
                offers a life changing experience. Luxurious elegance overlooking
                the Koggala Lake is a sight to experience. The hotel itself is
                surrounded by water ponds and gives the impression of a floating
                paradise. This one of a kind resort is destined to give you a sense
                of Euphoria. Kudos is all that you can think of once you experience
                the hospitality and class that is on offer.
            </p>
        </div>
        <div class="column">
            <figure class="image is-3by2">
                <img class="rounded-corners" src="https://cdn.iconicto.com/ChariLake/img/fisher.jpg"/>
            </figure>
        </div>
    </div>
    <div class="container mt-5">
        <div class="content">
            <p class="has-text-justified is-size-7-mobile">
                Chari or the traveler, a word originating from Sinhalese and
                Sanskrit, offers a wonderful experience that is harmonious with the
                name of the resort. Travel around or just lay back and enjoy the
                serenity and tranquility this unique destination has to offer.
                Excellence emanates from every aspect of this marvelous resort.
            </p>
            <p class="has-text-justified is-size-7-mobile">
                Mother nature’s bountifulness is prevalent in abundance in this
                glorious environment which is certain to make this experience a
                memorable one. The open areas with breathtaking view offer a sense
                of relaxation and ecstasy.
            </p>
            <p class="has-text-justified is-size-7-mobile">
                Take a dip and relax in the spaciously designed pool or just
                freestyle your way to enjoyment. Lay back relax and enjoy the
                panoramic view of the Koggala lake. Our professional, courteous and
                hospitable staff will always make you feel welcome and homely.
            </p>
        </div>
    </div>
</section>

{% endblock %}