{% extends 'frontend/base.html' %}

{% load static %}
{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title is-2 is-size-3-mobile mb-3">
                Activities
            </h1>
            <div class="columns is-vcentered mt-3">
                <div class="column">
                    <figure class="image is-3by2">
                        <img
                                src="https://cdn.iconicto.com/ChariLake/img/activities/boatriding.jpg"
                                class="rounded-image"
                        />
                    </figure>
                </div>
                <div class="column">
                    <h1 class="title is-3 is-size-4-mobile mb-3">
                        Boat Riding
                    </h1>
                    <p class="has-text-justified is-size-7-mobile">
                        Enjoy a boat ride on the Koggala Lake. Situated in the backyard of
                        Chari Lake the boats can be birthed right into the hotel. Rides
                        are maneuvered by experienced boatmen to ensure your safety at all
                        times.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <h1 class="title is-3 is-size-4-mobile mb-3">
                        Kayaking
                    </h1>
                    <p class="has-text-justified is-size-7-mobile">
                        Take a kayak and roam the Koggala lake, enjoy the magnificent
                        awe-inspiring sights of the lake at your own convenience.
                    </p>
                </div>
                <div class="column">
                    <figure class="image is-3by2">
                        <img src="https://cdn.iconicto.com/ChariLake/img/activities/kayaking.jpg"
                             class="rounded-image"/>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <figure class="image is-3by2">
                        <img
                                src="https://cdn.iconicto.com/ChariLake/img/activities/naturescrolls.jpg"
                                class="rounded-image"
                        />
                    </figure>
                </div>
                <div class="column">
                    <h1 class="title is-3 is-size-4-mobile mb-3">
                        Nature Strolls
                    </h1>
                    <p class="has-text-justified is-size-7-mobile">
                        Feel your lungs inflate with the fresh air whilst listening to the
                        harmonious sound of the birds as you enjoy the serenity of the
                        lake.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <h1 class="title is-3 is-size-4-mobile mb-3">
                        Cycling
                    </h1>
                    <p class="has-text-justified is-size-7-mobile">
                        Cycle through the lush greenery and foliage using safe equipment.
                    </p>
                </div>
                <div class="column">
                    <figure class="image is-3by2">
                        <img src="https://cdn.iconicto.com/ChariLake/img/activities/cycling.jpg" class="rounded-image"/>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <figure class="image is-3by2">
                        <img class="rounded-corners"
                             src="https://cdn.iconicto.com/ChariLake/img/activities/fishing.jpg"/>
                    </figure>
                </div>
                <div class="column">
                    <h1 class="title is-3 is-size-4-mobile mb-3">
                        Fishing
                    </h1>
                    <p class="has-text-justified is-size-7-mobile">
                        Fishing at Chari Lake is a pleasure like no other, get hooked on
                        and try out your skills at this activity of entertainment, which
                        is bound to keep you on the edge of your seat.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <h1 class="title is-3 is-size-4-mobile mb-3">
                        Weddings
                    </h1>
                    <p class="has-text-justified is-size-7-mobile">
                        Sri Lanka is progressing fast as a destination for weddings. Chari
                        Lake offers you the best destination, services, and amenities to
                        plan this very special moment of your life. Spacious open areas
                        and scenic beauty assures you of a memorable day.
                    </p>
                </div>
                <div class="column">
                    <figure class="image is-3by2">
                        <img src="https://cdn.iconicto.com/ChariLake/img/activities/weddings.jpg"
                             class="rounded-image"/>
                    </figure>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <figure class="image is-3by2">
                        <img
                                class="rounded-corners"
                                src="https://cdn.iconicto.com/ChariLake/img/activities/honeymooners.jpg"
                        />
                    </figure>
                </div>
                <div class="column">
                    <h1 class="title is-3 is-size-4-mobile mb-3">
                        Honeymooners
                    </h1>
                    <p class="has-text-justified is-size-7-mobile">
                        An ideal getaway Chari lake offers an isolated experience like no
                        other. Lose yourself in the privacy of this vast area of land that
                        is scenic and secluded. Our specially designed tree hideouts will
                        make you one with nature.
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}