{% extends 'frontend/base.html' %}

{% load static %}

{% block title %}Attractions | {% endblock %}
{% block content %}
    <section class="section nav-margin">
        <span id="structure" class="anchor"></span>
        <div class="container">
            <h1 class="title is-2 is-size-3-mobile mb-3">
                Attractions
            </h1>
            <div class="columns is-vcentered mt-3">
                <div class="column">
                    <figure class="image is-3by2">
                        <img src="{% static 'img/attractions/structure.jpg' %}" class="rounded-image" alt="structure of the chari lake" />
                    </figure>
                </div>
                <div class="column">
                    <h1 class="title is-3 is-size-4-mobile mb-3">
                        Structure
                    </h1>
                    <p class="has-text-justified is-size-7-mobile">
                        Designed using exquisite timber and steel the resort is
                        interconnected by timber bridges. Stroll on these beautifully
                        designed bridges with the Koggala Lake in the backdrop. Elegantly
                        built with airy open spaces, the structure in relentlessly graced
                        and caressed with the soft and gentle breeze of the Koggala Lake.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <span id="viewing-deck" class="anchor"></span>
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <h1 class="title is-3 is-size-4-mobile mb-3">
                        Viewing Decks
                    </h1>
                    <p class="has-text-justified is-size-7-mobile">
                        Luxuriously and strategically designed viewing decks offer
                        incredible sights to cherish while you enjoy a drink or just relax
                        with the soothing breeze of the Koggala Lake in your hair.
                    </p>
                </div>
                <div class="column">
                    <figure class="image is-3by2">
                        <img src="{% static 'img/attractions/viewing-deck.jpg' %}" class="rounded-image" alt="viewing deck of the hotel" />
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <span id="cuisine" class="anchor"></span>
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <figure class="image is-3by2">
                        <img src="{% static 'img/attractions/cuisine.jpg' %}" class="rounded-image" alt="cuisines available for chari lake" />
                    </figure>
                </div>
                <div class="column">
                    <h1 class="title is-3 is-size-4-mobile mb-3">
                        Cuisine
                    </h1>
                    <p class="has-text-justified is-size-7-mobile">
                        Chari Lake offers a wide range of palette scintillating cuisines
                        ranging from traditional Sri Lankan dishes to Thai, Chinese and
                        European diversity. Fish directly sourced from the lake is a treat
                        to experience. The well-equipped and modern kitchen is open for
                        viewing, hence watch your meals being prepared. Experience some of
                        the great customary local dishes that are exclusively prepared for
                        you.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <span id="rooms" class="anchor"></span>
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <h1 class="title is-3 is-size-4-mobile mb-3">
                        Rooms
                    </h1>
                    <p class="has-text-justified is-size-7-mobile">
                        Chari Lake consists of 10 rooms and two suites. Accommodation is
                        spaciously built and elegantly crafted. An exquisitely designed
                        interior offers a sense of relaxation, and is certain to put you
                        in the right mood. Large private balconies offer a wonderful view
                        of the Koggala lake and its surroundings. The ambiance is perfect
                        for a relaxing nap or to kick your heels up and read that favorite
                        novel of your choice. Teak masterpieces of furniture adorn the
                        room to give that classy finish it richly deserves.
                    </p>
                </div>
                <div class="column">
                    <figure class="image is-3by2">
                        <img class="rounded-image" src="{% static 'img/rooms/chari-deluxe/chari-deluxe-room.jpg' %}" alt="chari deluxe room"/>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <span id="fruits" class="anchor"></span>
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <figure class="image is-3by2">
                        <img src="{% static 'img/attractions/fruits.jpg' %}" class="rounded-image" alt="drinks from chari lake" />
                    </figure>
                </div>
                <div class="column">
                    <h1 class="title is-3 is-size-4-mobile mb-3">
                        Fruits
                    </h1>
                    <p class="has-text-justified is-size-7-mobile">
                        Indulge in the nourishing fruits of this tropical island that grow
                        right around the resort.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}