{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="Koggala Lake, CharÌ Lake, Sri Lanka, Transcend Beyond Relaxation And Luxury, Galle Fort,Whale watching,Unawatuna Beach, Yala, Uda-walawe, Cinnamon Island" />
	<meta name="description" content="Set beside the verdant greenery, lush vegetation and the spectacular Koggala Lake, Galle, CharÌ Lake offers an experience that is like no other. Just a 90 minute drive from Colombo it can also be accessed in 15 minutes by a domestic flight to Koggala. This contemporary boutique hotel consists of exquisitely and exclusively designed 10 rooms and one suite. " />
    <title>{% block title %}{% endblock %}Chari Lake</title>
    <link rel="icon" href="{% static 'logo.jpg' %}" type="image/jpg">
    <link rel="stylesheet" href="{% static 'css/minified.css' %}"/>
    {% block css %}{% endblock %}
</head>
<body>
{% include 'frontend/partial/navbar.html' %}
    {% block content %}{% endblock %}
{% include 'frontend/partial/footer.html' %}
    {% block js %}{% endblock %}
    <script type="text/javascript">
       const whiteLogo = "{% static 'img/logo-white.png' %}";
       const blueLogo = "{% static 'img/logo-blue.png' %}";
    </script>
    <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
    <script src="https://kit.fontawesome.com/2242222cb3.js" crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109345139-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109345139-4');
    </script>
</body>
</html>
