{% extends 'frontend/base.html' %}

{% load static %}

{% block title %}Excursions | {% endblock %}
{% block content %}
    <section class="section nav-margin">
        <span id="galle-fort" class="anchor"></span>
        <div class="container">
            <h1 class="title is-2 is-size-3-mobile mb-3">Excursions</h1>
            <div class="columns is-vcentered mt-3">
                <div class="column">
                    <figure class="image is-3by2">
                        <img class="rounded-corners is-cover"
                             src="{% static 'img/excursions/galle-fort.jpg' %}" alt="galle fort"/>
                    </figure>
                </div>
                <div class="column">
                    <h1 class="title is-3 is-size-4-mobile mb-3">Galle Fort</h1>
                    <p class="has-text-justified is-size-7-mobile">
                        Initially built by the Portuguese in the 15th century and further
                        developed by the Dutch this masterpiece is a must view attraction
                        for any visitor. Rich in heritage, this monument is of great
                        archaeological significance. The well-fortified fort overlooks the
                        magnificent Indian ocean. The view of the surrounding area is an
                        exceptional sight.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <span id="koggla-lake" class="anchor"></span>
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <h1 class="title is-3 is-size-4-mobile mb-3">Koggala Lake</h1>
                    <p class="has-text-justified is-size-7-mobile">
                        One of the largest inland water bodies Koggala lake is rich in
                        biodiversity and picturesque elegance, this vast pool of water is
                        right in the backyard. It is also the source of many varieties of
                        fish for CharÌ Lake. Easily accessible by boat or kayak it offers
                        a sense of serenity and peace. Enjoy the moonlit lake at night
                        which is a magnificent and awe-inspiring sight. You can also dine,
                        in close proximity to the lake and sip the cool breeze with your
                        food. The lake is inhabited with a variety of fish that are
                        endemic to the lake and area. The hotel can also be accessed by
                        seaplane which lands in the Koggala lake. Enjoy a relaxing boat
                        ride right back to the hotel from the seaplane.
                    </p>
                </div>
                <div class="column">
                    <figure class="image is-3by2">
                        <img class="rounded-corners is-cover"
                             src="{% static 'img/excursions/koggla-lake.jpg' %}" alt="koggla lake"/>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <span id="talpe-beach" class="anchor"></span>
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <figure class="image is-3by2">
                        <img class="rounded-corners is-cover"
                             src="{% static 'img/excursions/talpe-beach.jpg' %}" alt="talpe beach"/>
                    </figure>
                </div>
                <div class="column">
                    <h1 class="title is-3 is-size-4-mobile mb-3">Talpe Beach</h1>
                    <p class="has-text-justified is-size-7-mobile">
                        Talpe beach is a very calm and peaceful place, with good views of the waves. There are no crowds
                        and the sound of the waves is very soothing. The rock pools here are said to be around 50 years
                        old and were created to soak coconut husks in order to extract the coir. The best time to visit
                        this beach is early morning, from March to April, when the pools are less likely to be filled
                        with sand.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <span id="under-water-museum" class="anchor"></span>
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <h1 class="title is-3 is-size-4-mobile mb-3">Underwater Museum Galle</h1>
                    <p class="has-text-justified is-size-7-mobile">
                        The Galle Underwater Museum is a popular tourist destination in Sri Lanka. The museum was opened
                        in June 2020 and is located close to Galle Harbor. The museum is the latest addition to the Sri
                        Lankan Museum collection and has the main objectives of increasing tourist attraction to the
                        country and creating artificial coral reefs. The museum is located in the 50ft / 15m deep sea
                        and is open 365 days a year.
                    </p>
                </div>
                <div class="column">
                    <figure class="image is-3by2">
                        <img class="rounded-corners is-cover"
                             src="{% static 'img/excursions/under-water-museum.jpg' %}" alt="under water museum"/>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <span id="whales-watching" class="anchor"></span>
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <figure class="image is-3by2">
                        <img class="rounded-corners is-cover"
                             src="{% static 'img/excursions/whales-watching.jpg' %}" alt="whales watching in mirissa"/>
                    </figure>
                </div>
                <div class="column">
                    <h1 class="title is-3 is-size-4-mobile mb-3">Whale Watching</h1>
                    <p class="has-text-justified is-size-7-mobile">
                        Take a cruise or a seaplane over the mighty Indian ocean to watch
                        these magnificent mammals in action roaming in their habitat.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <h1 class="title is-3 is-size-4-mobile mb-3">Beaches</h1>
                    <p class="has-text-justified is-size-7-mobile">
                        White sandy beaches and the mighty Indian ocean is only a few
                        minutes’ drive.
                    </p>
                </div>
                <div class="column">
                    <figure class="image is-3by2">
                        <img class="rounded-corners is-cover" src="{% static 'img/excursions/mihiripenna-beach.jpg' %}"
                             alt="mihiripenna beach"/>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <span id="yala" class="anchor"></span>
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <figure class="image is-3by2">
                        <img class="rounded-corners is-cover" src="{% static 'img/excursions/yala.jpg' %}"
                             alt="yala national park"/>
                    </figure>
                </div>
                <div class="column">
                    <h1 class="title is-3 is-size-4-mobile mb-3">Yala</h1>
                    <p class="has-text-justified is-size-7-mobile">
                        It is the most visited and the second largest national park in Sri
                        Lanka. Home to a variety of animals; Elephants, Leopards, Sloth
                        Bears, Deer and Peacocks roam freely through the park. Ideal for a
                        one day excursion.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <h1 class="title is-3 is-size-4-mobile mb-3">Udawalawe</h1>
                    <p class="has-text-justified is-size-7-mobile">
                        Overlooking the Uda Walawe reservoir this elephant sanctuary is an
                        excellent location to experience these majestic animals.
                    </p>
                </div>
                <div class="column">
                    <figure class="image is-3by2">
                        <img class="rounded-corners" src="{% static 'img/excursions/udawalawe.jpg' %}"
                             alt="Udawalawe National Park"/>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <figure class="image is-3by2">
                        <img src="{% static 'img/excursions/cinnamon-island.jpg' %}" class="rounded-image"
                             alt="cinnamon island"/>
                    </figure>
                </div>
                <div class="column">
                    <h1 class="title is-3 is-size-4-mobile mb-3">Cinnamon Island</h1>
                    <p class="has-text-justified is-size-7-mobile">
                        Visit the extraordinary Cinnamon Islands and enjoy first-hand an
                        unforgettable experience, the peeling of cinnamon by locals, that
                        will leave you breathless.
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}