{% extends 'frontend/base.html' %}

{% load static %}

{% block title %}Gallery | {% endblock %}
{% block content %}
    <section class="section nav-margin">
      <div class="container">
        <h1 class="title is-2 is-size-3-mobile mb-3">
          Gallery
        </h1>
        <div class="columns is-multiline" id="gallery">
          <!-- Append images -->
            {% for image in images %}
                {% with 'img/gallery/'|add:image as image_static %}
                    <div class="column is-one-third">
                        <figure class="image is-5by4">
                            <img src="{% static image_static %}" class="gallery-image is-cover" alt="chari lake image #{{ forloop.counter }}" onclick="showImage(this.src)">
                        </figure>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
      </div>
    </section>
    <div class="modal" id="modal">
      <div class="modal-background" onclick="closeImage()"></div>
      <div class="modal-content is-clipped" style="width: 60%">
      <figure class="image is-full-desktop">
          <img id="modal-image" alt="model image" src="">
        </figure>
      </div>
      <button
        class="modal-close is-large"
        aria-label="close"
        onclick="closeImage()"
      ></button>
    </div>
{% endblock %}
{% block js %}<script type="text/javascript" src="{% static 'js/gallery.js' %}"></script>{% endblock %}