{% extends 'frontend/base.html' %}

{% load static %}
{% block title %}Experience Serenity at its Best - Koggala Lake, Galle | {% endblock %}
{% block content %}
    <section class="hero is-large is-fullheight is-primary is-bold hero-image" id="hero">
        <img class="hero-background" src="{% static 'img/homepage/hero-image.jpg' %}" alt="balcony view" />
        <div class="hero-body pgx-large">
            <div class="container">
                <h2 class="subtitle is-size-6-mobile is-bold has-text-weight-semibold letter-space">
                    YOUR PLACE TO RELAX
                </h2>
                <h1 class="title is-1 is-size-4-mobile has-text-weight-medium">
                    An exquisite trip you'll rave
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-vcentered is-variable">
                <div class="column pr-5">
                    <h1 class="title is-size-4-mobile mb-3">
                        Transcend Beyond Relaxation & Luxury
                    </h1>
                    <p class="has-text-justified is-size-7-mobile mb-4">
                        Chari lake a perfect getaway, a soothing ambience, romantic
                        setting overlooking the beautiful koggala lake. A contemporary
                        hotel designed exquisitely and exclusively for your
                        comfort. Experience the typical Sri Lankan hospitality with all
                        it’s luxuries amidst the unspoiled village setting with nature in
                        her wonder.
                    </p>
                    <a href="{% url 'about' %}">
                        <button class="button is-primary mt-5 px-4 py-5">
                            View More&nbsp;&nbsp;<i class="fas fa-angle-right"></i>
                        </button>
                    </a>
                </div>
                <div class="column">
                    <figure class="image is-3by2">
                        <img class="rounded-corners slides is-cover" src="{% static 'img/homepage/pool-side-view.jpg' %}"
                        alt="pool side view of the hotel">
                        <img class="rounded-corners slides is-cover" src="{% static 'img/homepage/front-view.jpg' %}" alt="front view of chari lake">
                        <img class="rounded-corners slides is-cover" src="{% static 'img/homepage/pool.jpeg' %}" alt="pool of chari lake">
                        <img class="rounded-corners slides is-cover" src="{% static 'img/homepage/yard.jpg' %}" alt="yard of chari lake">

                        <div class="has-text-centered container my-2 dot-holder">
                            <span class="dot" onclick="gotToSlide(1)"></span>
                            <span class="dot" onclick="gotToSlide(2)"></span>
                            <span class="dot" onclick="gotToSlide(3)"></span>
                            <span class="dot" onclick="gotToSlide(4)"></span>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-vcentered is-mobile mb-2">
                <div class="column">
                    <h1 class="title is-size-4-mobile">
                        Attractions
                    </h1>
                </div>
                <div class="column is-narrow">
                    <a href="{% url 'attractions' %}">
                        <button class="button is-primary mt-5 px-4 py-5">
                            View More&nbsp;&nbsp;<i class="fas fa-angle-right"></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="columns is-4">
                <div class="column">
                    <figure class="image is-square image-overlay">
                        <img class="rounded-corners is-cover"
                             src="{% static 'img/attractions/room.jpg' %}" alt="family deluxe room"/>
                        <div class="tint-overlay"></div>
                        <div class="column centered">
                            <i class="fas fa-3x fa-home"></i>
                            <div class="subtitle is-4 has-text-white has-text-weight-bold">
                                Rooms
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="column">
                    <figure class="image is-square image-overlay">
                        <img class="rounded-corners is-cover"
                             src="{% static 'img/attractions/viewing-deck.jpg' %}" alt="viewing deck of the hotel"/>
                        <div class="tint-overlay"></div>
                        <div class="column centered">
                            <i class="fas fa-3x fa-binoculars"></i>
                            <div class="subtitle is-4 has-text-white has-text-weight-bold">
                                Viewing<br/>Decks
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="column">
                    <figure class="image is-square image-overlay">
                        <img class="rounded-corners is-cover"
                             src="{% static 'img/attractions/cuisine.jpg' %}" alt="cuisine"/>
                        <div class="tint-overlay"></div>
                        <div class="column centered">
                            <i class="fas fa-3x fa-utensils"></i>
                            <div class="subtitle is-4 has-text-white has-text-weight-bold">
                                Cuisine
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="column">
                    <figure class="image is-square image-overlay">
                        <img class="rounded-corners is-cover"
                             src="{% static 'img/attractions/structure.jpg' %}" alt="structure of the hotel"/>
                        <div class="tint-overlay"></div>
                        <div class="column centered">
                            <i class="fas fa-3x fa-torii-gate"></i>
                            <div class="subtitle is-4 has-text-white has-text-weight-bold">
                                Structure
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <figure class="image is-3by2">
                        <img class="rounded-corners is-cover" src="{% static 'img/activities/boat-trip.jpg' %}" alt="boat rides in koggala lake"/>
                    </figure>
                </div>
                <div class="column pl-5">
                    <h1 class="title is-size-4-mobile mb-3">
                        Activities
                    </h1>
                    <p class="has-text-justified mb-4 is-size-7-mobile">
                        Never a time to get bored with the awesome activities we have on
                        offer, boat rides, kayaking, nature strolls and cycling are on
                        offer. Enjoy these adventurous activities in your leisure time at
                        your convenience.
                    </p>
                    <a href="{% url 'activities' %}">
                        <button class="button is-primary mt-5 px-4 py-5">
                            View More&nbsp;&nbsp;<i class="fas fa-angle-right"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-vcentered is-mobile mb-2">
                <div class="column">
                    <h1 class="title is-size-4-mobile">
                        Excursions
                    </h1>
                </div>
                <div class="column is-narrow">
                    <a href="{% url 'excursions' %}">
                        <button class="button is-primary mt-5 px-4 py-5">
                            View More&nbsp;&nbsp;<i class="fas fa-angle-right"></i>
                        </button>
                    </a>
                </div>
            </div>
            <div class="columns is-4">
                <div class="column">
                    <figure class="image is-square image-overlay">
                        <img class="rounded-corners is-cover"
                             src="{% static 'img/excursions/galle-fort.jpg' %}" alt="galle-fort"/>
                        <div class="tint-overlay"></div>
                        <div class="column centered">
                            <i class="fas fa-3x fa-umbrella-beach"></i>
                            <div class="subtitle is-4 has-text-white has-text-weight-bold">
                                Galle<br/>Fort
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="column">
                    <figure class="image is-square image-overlay">
                        <img class="rounded-corners is-cover"
                             src="{% static 'img/excursions/whales-watching.png' %}" alt="whales watching in mirissa"/>
                        <div class="tint-overlay"></div>
                        <div class="column centered">
                            <i class="fas fa-3x fa-fish"></i>
                            <div class="subtitle is-4 has-text-white has-text-weight-bold">
                                Whale<br/>Watch
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="column">
                    <figure class="image is-square image-overlay">
                        <img class="rounded-corners is-cover"
                             src="{% static 'img/excursions/koggla-lake.jpg' %}" alt="koggla lake"/>
                        <div class="tint-overlay"></div>
                        <div class="column centered">
                            <i class="fas fa-3x fa-water"></i>
                            <div class="subtitle is-4 has-text-white has-text-weight-bold">
                                Koggala<br/>Lake
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="column">
                    <figure class="image is-square image-overlay">
                        <img class="rounded-corners is-cover" src="{% static 'img/excursions/yala.jpg' %}" alt="yala national park"/>
                        <div class="tint-overlay"></div>
                        <div class="column centered">
                            <i class="fas fa-3x fa-paw"></i>
                            <div class="subtitle is-4 has-text-white has-text-weight-bold">
                                Yala
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script type="application/ld+json">
        {
          "@context": "https://schema.org/",
          "@type": "Hotel",
          "image": [
            "https://cdn.iconicto.com/ChariLake/img/gallery/chari-lake-28.jpg",
            "https://cdn.iconicto.com/ChariLake/img/gallery/chari-lake-17.jpg",
            "https://cdn.iconicto.com/ChariLake/img/gallery/chari-lake-10.jpg"
           ],
          "@id": "http://charilakehotel.lk",
          "name": "Chari Lake Hotel",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Harumalgoda",
            "addressLocality": "Habaraduwa",
            "addressRegion": "Galle",
            "postalCode": "80630",
            "addressCountry": "LK"
          },
          "geo": {
            "@type": "GeoCoordinates",
            "latitude": 6.0133466,
            "longitude": 80.3162663
          },
          "url": "https://charilakehotel.lk/",
          "telephone": "+94 91 22 81 888",
          "priceRange": "$$$",
          "openingHoursSpecification": [
            {
              "@type": "OpeningHoursSpecification",
              "dayOfWeek": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday"
              ],
              "opens": "05:30",
              "closes": "23:30"
            }
          ],
          "menu": "https://charilakehotel.lk/rooms",
          "acceptsReservations": "True"
        }
    </script>
    <script>
        let slideIndex = Math.floor(Math.random() * 4) + 1;

        let slideshow;

        function gotToSlide(n) {
            clearTimeout(slideshow);
            showSlide(slideIndex = n);
        }

        function showSlide(n) {
            let i;
            const x = document.getElementsByClassName("slides");
            const dots = document.getElementsByClassName("dot");
            if (n > x.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = x.length
            }
            for (i = 0; i < x.length; i++) {
                x[i].className = x[i].className.replace(" active-slide", "");
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" has-background-white", "");
            }
            x[slideIndex - 1].className += " active-slide";
            dots[slideIndex - 1].className += " has-background-white";
            slideshow = setTimeout(function () {
                showSlide(slideIndex += 1);
            }, 5000)
        }

        gotToSlide(2)
    </script>
{% endblock %}