{% extends 'frontend/base.html' %}

{% load static %}

{% block title %}Reservations | {% endblock %}
{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title is-3 is-size-4-mobile">Reservations</h1>
            <div class="columns mt-3">
                <div class="column">
                    <figure class="image is-3by2">
                        <img class="rounded-corners" src="https://cdn.iconicto.com/ChariLake/img/reservation/luxury_suite.jpg" />
                    </figure>
                    <h1 class="title is-size-4 is-size-5-mobile mb-3 mt-4">
                        Luxury Suite
                    </h1>
                    <p class="has-text-justified mb-4 is-size-7-mobile">
                        1 Large Bed
                    </p>
                    <p class="has-text-justified mb-4 is-size-7-mobile has-text-weight-bold">
                        $200 (Introductory Offer)
                    </p>
                </div>
                <div class="column">
                    <figure class="image is-3by2">
                        <img class="rounded-corners" src="https://cdn.iconicto.com/ChariLake/img/reservation/family_deluxe.jpg" />
                    </figure>
                    <h1 class="title is-size-4 is-size-5-mobile mb-3 mt-4">
                        Family Deluxe
                    </h1>
                    <p class="has-text-justified mb-4 is-size-7-mobile">
                        01 Large Bed & 02 Single Beds
                    </p>
                    <p class="has-text-justified mb-4 is-size-7-mobile has-text-weight-bold">
                        BB-Rs.19000 =$ 103<br/>
                        HB-Rs.23500 =$ 127<br/>
                        FB-Rs.28000 =$ 152
                    </p>
                </div>
                <div class="column">
                    <figure class="image is-3by2">
                        <img class="rounded-corners" src="https://cdn.iconicto.com/ChariLake/img/reservation/chari_deluxe.jpg" />
                    </figure>
                    <h1 class="title is-size-4 is-size-5-mobile mb-3 mt-4">
                        Chari Deluxe
                    </h1>
                    <p class="has-text-justified mb-4 is-size-7-mobile">
                        1 Large Bed
                    </p>
                    <p class="has-text-justified mb-4 is-size-7-mobile has-text-weight-bold">
                        BB-Rs.12000 =$ 65<br/>
                        HB-Rs.14000 =$ 76<br/>
                        FB-Rs.16000 =$ 87
                    </p>
                </div>
            </div>
        </div>

    </section>

    <section class="section">
        <div class="container">
            <h1 class="title is-3 is-size-4-mobile mb-4">Amenities</h1>
            <div class="columns mt-5">
                <div class="column">
                    <i class="fas fa-wind fa-10x" style="font-size: 2rem"></i>
                    <p class="is-size-5  mt-2">Air Conditioner</p>
                </div>
                <div class="column">
                    <i class="fas fa-fire fa-10x" style="font-size: 2rem"></i>
                    <p class="is-size-5  mt-2">Hot Water</p>
                </div>
                <div class="column">
                    <i class="fas fa-binoculars fa-10x" style="font-size: 2rem"></i>
                    <p class="is-size-5  mt-2">Lake View Balcony</p>
                </div>
                <div class="column">
                    <i class="fas fa-phone-alt fa-10x" style="font-size: 2rem"></i>
                    <p class="is-size-5  mt-2">Telephone</p>
                </div>
            </div>
            <div class="columns mt-4">
                <div class="column">
                    <i class="fas fa-wifi fa-10x" style="font-size: 2rem"></i>
                    <p class="is-size-5  mt-2">Free WiFi</p>
                </div>
                <div class="column">
                    <i class="fas fa-tv fa-10x" style="font-size: 2rem"></i>
                    <p class="is-size-5  mt-2">
                        43" TV<br/><span class="is-size-6">(with 70 channels)</span>
                    </p>
                </div>
                <div class="column">
                    <i class="fas fa-tshirt fa-10x" style="font-size: 2rem"></i>
                    <p class="is-size-5  mt-2">Towels & Linen</p>
                </div>
                <div class="column">
                    <i class="fas fa-mug-hot fa-10x" style="font-size: 2rem"></i>
                    <p class="is-size-5  mt-2">Tea, Coffee and Bottled Water</p>
                </div>
            </div>
            <div class="columns mt-4">
                <div class="column">
                    <i class="fas fa-lock fa-10x" style="font-size: 2rem"></i>
                    <p class="is-size-5  mt-2">Safe Locker</p>
                </div>
                <div class="column">
                    <i class="fas fa-glass-martini-alt fa-10x" style="font-size: 2rem"></i>
                    <p class="is-size-5  mt-2">Mini Bar</p>
                </div>
                <div class="column">
                    <i class="fas fa-restroom fa-10x" style="font-size: 2rem"></i>
                    <p class="is-size-5  mt-2">
                        Luxurious Bath Room<br/><span class="is-size-6">(with toiletries)</span>
                    </p>
                </div>
                <div class="column">
                    <i class="fas fa-lightbulb fa-10x" style="font-size: 2rem"></i>
                    <p class="is-size-5  mt-2">Smart Lighting System</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}